<footer>
  <div class="footer-sections-container">
    <div class="footer-section">
      <span>Social</span>
      <span><i class="fab fa-twitter"></i><a href="https://twitter.com/hecrenews" target="_blank">Twitter</a></span>
    </div>
    <div class="footer-section">
      <span>More HBA</span>
      <span><i class="fas fa-link"></i><a href="https://hecrenet.github.io" target="_blank">Hecrenet</a></span>
    </div>
    <div class="footer-section">
      <span>Other stuff</span>
      <span><i class="fas fa-file"></i><a href="/legal" target="_blank">Legal</a></span>
    </div>
    <div class="footer-section">
      <span>Contact</span>
      <span><i class="fas fa-envelope"></i><a href="mailto:hecretarybird@gmail.com"><p>Email</p></a></span>
    </div>
  </div>
  <span class="footer-bottom">&#xA9 Hecrenews</span>
</footer>
