<footer>
  <div class="footer-sections-container">
    <div class="footer-section">
      <span>Social</span>
      <span><div class="footer-icon"><i class="fab fa-twitter"></i></div><a href="https://twitter.com/hecrenews" target="_blank">Twitter</a></span>
      <span><div class="footer-icon"><i class="fas fa-newspaper"></i></div><a href="https://news.google.com/publications/CAAqBwgKMNnWmQswg-GxAw" target="_blank">Google News</a></span>
    </div>
    <div class="footer-section">
      <span>More HBA</span>
      <span><div class="footer-icon"><i class="fas fa-link"></i></div><a href="https://hecrenet.github.io" target="_blank">Hecrenet</a></span>
    </div>
    <div class="footer-section">
      <span>Other stuff</span>
      <span><div class="footer-icon"><i class="fas fa-file"></i></div><a href="/legal" target="_blank">Legal</a></span>
      <span><div class="footer-icon"><i class="fas fa-vote-yea"></i></div><a href="https://docs.google.com/forms/d/e/1FAIpQLScO7XPD8xGt_rdGOtJ6u8yvHwD1soTwJ_64jk5kr59cf3bfdw/viewform" target="_blank">Tip Line</a></span>
      <span><div class="footer-icon"><i class="fa-solid fa-rss"></i></div><a href="/feeds/all.xml" target="_blank">RSS</a></span>
      <span><div class="footer-icon"><i class="fa-solid fa-sitemap"></i></div><a href="/sitemaps/sitemap.xml" target="_blank">Sitemap</a></span>
    </div>
    <div class="footer-section">
      <span>Contact</span>
      <span><div class="footer-icon"><i class="fas fa-envelope"></i></div><a href="mailto:hecretarybird@gmail.com"><p>Email</p></a></span>
    </div>
  </div>
  <span class="footer-bottom">&#xA9 Hecrenews</span>
</footer>
