<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163796425-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-163796425-1');
  </script>
  <!-- Metas and Rich Results -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.layout == "post" %}
  {% assign author = site.authors | where_exp: "item", "item.name == page.author" %}
  {% assign author = author[0] %}
  <meta property="og:title" content="{{ page.title }}">
  <!--<meta property="og:description" content="An article about {{ page.title }}">-->
  <meta property="og:image" content="https://hecrenews.github.io{{ page.thumb }}">
  <meta property="og:url" content="https://hecrenews.github.io{{ page.url }}">
  <meta name="twitter:card" content="summary">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "{{ page.title }}",
    "image": [
      "https://hecrenews.github.io{{ page.thumb }}"
    ],
    "thumbnailUrl": "https://hecrenews.github.io{{ page.thumb }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "person",
      "name": "{{ author.title }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Hecrenews",
      "logo": {
        "@type": "ImageObject",
        "url": "https://hecrenews.github.io/assets/images/hecrenews_banner.png"
      }
    }
  }
  </script>
  {% elsif page.layout == "home" %}
  <meta name="twitter:card" content="summary">
  <meta name="og:title" content="Hecrenews">
  <meta name="og:description" content="The world's most reliable news source">
  <meta name="og:image" content="https://hecrenews.github.io/assets/images/hen.png">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://hecrenews.github.io",
    "logo": "https://hecrenews.github.io/assets/images/hen.png"
  }
  </script>
  {% endif %}
  <!-- Styles -->
  <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/non_mobile.css" media="screen and (min-width: {{ site.data.devices['tablet'].size }})">
  <link type="text/css" rel="stylesheet" href="/assets/css/animations.css" media="screen and (min-width: {{ site.data.devices['computer'].size }})">
  <link type="text/css" rel="stylesheet" href="/assets/css/computer.css" media="screen and (min-width: {{ site.data.devices['computer'].size }})">
  <link type="text/css" rel="stylesheet" href="/assets/fa/css/all.min.css" media="screen and (min-width: {{ site.data.devices['tablet'].size }})">
  <!-- Title -->
  {% if page.title %}
   <title>{{ page.title }}</title>
  {% else %}
    <title>Hecrenews</title>
  {% endif %}
  <!-- Javascript -->
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
</head>
