.authors {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.author-card {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  padding: 16px;
  width: 20%;
  min-width: 300px;
  margin-right: 16px;
  margin-bottom: 16px;

  &-top {
    display: flex;
    align-items: stretch;
    margin-bottom: 16px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      padding: 8px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,.25);
      border-right: 1px solid #ccc;
      margin-right: 16px;
    }

    .author-name {
      border-left: 1px solid #ccc;
      margin: 0;
      padding-left: 16px;
      display: flex;
      align-items: center;
    }
  }

  .author-bio {
    margin: 0;
    padding-top: 16px;
    border-top: 1px solid #ccc;
  }
}
