#latest {
  .container:nth-child(1) {
    width: calc(50% - 8px);
    margin-right: 16px;
  }

  .container:nth-child(2) {
    width: calc(50% - 8px);
  }
}

#news-hba-section {

  #news, #hba {

    .container {
      width: 100%;
    }
  }

  .news-section {
    width: calc(50% - 8px);
    margin-right: 16px;
    display: inline-block;
  }

  .hba-section {
    width: calc(50% - 8px);
    display: inline-block;
  }
}

.post-card-container {

  .post-card {

    &-author {
      visibility: visible;
    }
  }
}

.post-list-container {

  .post-list {
    min-height: 15%;

    &-item {
      position: relative;

      .post-list-thumb {
        width: 15%;
        padding-top: 15%;
      }

      .post-list-tool-tip {
        width: 15%;
        display: inline-block;
        transition: 0.3s;
        float: right;

        &.close {
          opacity: 0;
        }

        &-img {
          width: 100%;
          padding-top: 100%;
          position: relative;
          margin-right: 16px;
          align-self: flex-start;
          display: inline-block;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            box-shadow: 0 1px 3px rgba(0,0,0,.25);
          }
        }

        &-txt {
          display: none; /* in development */
          position: absolute;
          background: #fff;
          left: 0;
          right: 0;
          padding: 16px;
          opacity: 1 !important;
          box-shadow: 0 1px 3px rgba(0,0,0,.25);
          border-radius: 8px;
          z-index: 1;
          overflow: auto;
          max-height: 5vw;
        }
      }

      .post-list-info {
        width: calc(85% - 32px);
      }
    }
  }
}
