#latest {
  .container:nth-child(1) {
    width: calc(50% - 8px);
    margin-right: 16px;
  }

  .container:nth-child(2) {
    width: calc(50% - 8px);
  }
}

#news-hba-section {

  #news, #hba {

    .container {
      width: 100%;
    }
  }

  .news-section {
    width: calc(50% - 8px);
    margin-right: 16px;
    display: inline-block;
  }

  .hba-section {
    width: calc(50% - 8px);
    display: inline-block;
  }
}

.post-card-container {

  .post-card {

    &-author {
      visibility: visible;
    }
  }
}

.post-list-container {

  .post-list {
    min-height: 15%;

    &-item {

      .post-list-thumb {
        width: 15%;
        padding-top: 15%;
      }

      .post-list-tool-tip {
        width: 15%;
        padding-top: 15%;
        position: relative;
        margin-right: 16px;
        align-self: flex-start;
        display: inline-block;
        transition: 0.3s;

        &.close {
          opacity: 0;
        }

        img {
          object-fit: cover;
          border-radius: 4px;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          box-shadow: 0 1px 3px rgba(0,0,0,.25);
        }
      }

      .post-list-info {
        width: calc(85% - 32px);
      }
    }
  }
}
