---
layout: default
---
<div class="home">

  {{ content }}

  {% if site.posts.size > 0 %}
    <!-- Latest news sections -->
    <div id="latest-section">
      <h2 class="post-list-heading">Latest</h2>
      <div id="latest">
        <div class="post-grid">
          {% for post in site.posts offset:0 limit:4 %}
          <div class="post-grid-card-wrapper" style="background-image:url('{{ post.thumb }}')">
            <div class="post-grid-card">
              <div class="post-tag-container">
                {% for tag in post.tags %}
                  <p class="post-tag">{{ tag }}</p>
                {% endfor %}
              </div>
              <div class="post-grid-card-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- News and HBA Section -->
    {% assign posts = site.posts | slice: 4, site.posts.size | where: "tags", "News" %}
    <div id="news-hba-section">
      <!-- News Section -->
      <div class="news-section">
        <h2 class="post-list-heading">News</h2>
        <div id="news" class="flex-section">
          <!-- Article List -->
          <div class="post-list-container container">
            <ul class="post-list">
              {% for post in posts limit:16 %}
              <li class="post-list-item" thumb="{{ post.thumb }}">
                <div class="post-list-info">
                  <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                  <div class="post-tag-container">
                    {% for tag in post.tags %}
                    <p class="post-tag">{{ tag }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="post-list-tool-tip close">
                  <div class="post-list-tool-tip-img"></div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- HBA Section -->
      {% assign posts = site.posts | where_exp:"item","item.tags contains 'News' or item.tags contains 'HBA'" | slice: 18, site.posts.size | where: "tags", "HBA" %}
      <div class="hba-section">
        <h2 class="post-list-heading">HBA</h2>
        <div id="hba" class="flex-section">
          <!-- Article List -->
          <div class="post-list-container container">
            <ul class="post-list">
              {% for post in posts limit:16 %}
              <li class="post-list-item" thumb="{{ post.thumb }}">
                <div class="post-list-info">
                  <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                  <div class="post-tag-container">
                    {% for tag in post.tags %}
                      <p class="post-tag">{{ tag }}</p>
                    {% endfor %}
                  </div>
                </div>
                <div class="post-list-tool-tip close">
                  <div class="post-list-tool-tip-img"></div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

</div>
<script>
  $(document).ready(function(){
    if ($(window).width() <= {{ site.data.devices['computer'].size | remove: "px" }})
      return;

    $('.post-tag-container').remove();

    for (var i = 0; i < $('.post-list-item').length; i++)
      $($('.post-list-item')[i]).css('background-image', 'url("' + $($('.post-list-item')[i]).attr('thumb') + '")');

  });
</script>
